<div style="padding: 20px;">
<div class="app-toolbar-img text-left" style="background-color: white; box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.2);">
    <img src= "assets/aimst - Copy.png" alt="white" style="display: inline-block">
    <h1 style="display: inline-block">Welcome to AIMST University's Printing Services</h1>
    <h2>{{businessOpen ? "SHOP IS OPEN" : "SHOP IS CLOSED"}}</h2>

    <button mat-icon-button (click)="testClick()">
        <mat-icon matBadge="{{notifications}}" matBadgeColor="warn">notifications</mat-icon>
    </button>
</div>
</div>

<div id="modal-notification" class="modal">
    <div class="modal-content text-center">
        <h1><mat-icon mat-list-icon>notifications</mat-icon>Notifications</h1>
        
        <mat-card *ngFor="let noti of notificationList">
            <mat-card-title>{{noti.description}}</mat-card-title>
            <mat-card-subtitle>{{noti.notification_datetime}}</mat-card-subtitle>
        </mat-card>
    </div>
</div>


<!-- <mat-toolbar class="app-toolbar">
    <h1>Raspberry Project</h1>
    <span class="spacer"></span>
    <button mat-button routerLink="home">Home</button>
    <button *ngIf="!isLogin" mat-button routerLink="login">Login</button>
    <button *ngIf="!isLogin" mat-button routerLink="signup">Sign Up</button>
    <button *ngIf="isLogin" mat-button routerLink="booking-order">Booking Order</button>
    <button *ngIf="isLogin" mat-button routerLink="upload-file">Upload File</button>
    <button *ngIf="isLogin" mat-button>Dashboard {{this.accountService.currentUser.username}}</button>
    <button *ngIf="isLogin && roleId == 1" mat-button routerLink="admin">Admin Page</button>
    <button *ngIf="isLogin" (click)= "logout()" mat-button>Log Out</button>
</mat-toolbar> -->
