<div style="padding: 50px">
<H1>Welcome to AIMST University's Printing Shop</H1>

<H2>About</H2>

<br>

<p>Printing charges depend on your choice of: <br>

    Monochrome (Black and white), or coloured ink
    Paper size (A4)</p>

    <table style="width: 500px;">
        <tr>
          <th>Black & White</th>
        </tr>
        <tr>
            <td>Size</td>
            <td>Double Sided</td>
            <td>Single Sided</td>
          </tr>
        <tr>
          <td>A4</td>
          <td>RM0.20 (per side)</td>
          <td>RM0.40 (per page)</td>
        </tr>
      </table>

      <br><br>

      <table style="width:500px">
        <tr>
          <th>Color</th>
        </tr>
        <tr>
            <td>Size</td>
            <td>Double Sided</td>
            <td>Single Sided</td>
          </tr>
        <tr>
          <td>A4</td>
          <td>RM0.20 (per side)</td>
          <td>RM0.40 (per page)</td>
        </tr>
      </table>

      <table style="width: 500px;">
        <tr>
          <th>Black & White</th>
        </tr>
        <tr>
            <td>Size</td>
            <td>Double Sided</td>
            <td>Single Sided</td>
          </tr>
        <tr>
          <td>A4</td>
          <td>RM0.20 (per side)</td>
          <td>RM0.40 (per page)</td>
        </tr>
      </table>

      <br><br>

      <table style="width:500px">
        <tr>
          <th>Color</th>
        </tr>
        <tr>
            <td>Size</td>
            <td>Double Sided</td>
            <td>Single Sided</td>
          </tr>
        <tr>
          <td>A4</td>
          <td>RM0.20 (per side)</td>
          <td>RM0.40 (per page)</td>
        </tr>
      </table>
    </div>

    

      