.form-select {
    display: block !important;
}

mat-card {
    width: calc(100% - 70px);
    height: calc(100% - 70px);
  }

  .content {
      margin: 0;
      padding: 0;
  }

  .mat-button-action {
    left: 5px;
    bottom: 5px;
    position: absolute;
}